@page "/"

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <Device />
            </div>
            <div class="column is-half">
                <Device />
            </div>
        </div>
        <AdminDevice />
    </div>
</section>